<!DOCTYPE html>
<html>
	<%= stylesheet_link_tag "home.css" %>
	<div class="page-slides">
	    <img src="http://farm4.staticflickr.com/3649/3394771273_a9634a71a9_b.jpg">
	    <img src="http://farm4.staticflickr.com/3674/9414830088_e69653e8f8_b.jpg">
	</div>
</html>
