<!DOCTYPE html>
	<%= stylesheet_link_tag "home.css" %>
	<div class="page">
		<h1>Facts about Haiyan</h1>
		<p>Here you'll find everything you need to know to help you make the most of your visit to Haiyan. Learn about our history, culture, great food, art and spetacular natural landscapes.</p>
		<div>
			<img src="http://bestclipartblog.com/clipart-pics/square-clip-art-15.png">
			<h4>Key Facts</h4>
			<p>What is the weather is like, what you need to do when you need emergency serverices</p>
		</div>
		<div>
			<img src="http://bestclipartblog.com/clipart-pics/square-clip-art-15.png">
			<h4>History</h4>
			<p>Haiyan is one of the oldest town in China, as well as one of the youngest. Learn about our culture and history, and our most famous Haiyan</p>
		</div>
		<div>
			<img src="http://bestclipartblog.com/clipart-pics/square-clip-art-15.png">
			<h4>Haiyan's Landscapes</h4>
			<p>We have the unique scenic spot with hills, the sea and the lakes -- "Nanbei Lake"</p>
		</div>
	</div>
</html>