@media screen and (max-width: 31.5em) {
	.grid {
		padding: 10px 10px 100px 10px;
	}
	.grid li {
		width: 100%;
		min-width: 300px;
	}
}

/* Food Section */
.food {
	width: 100%;
	height: 400px;
	margin: 0, auto;
	margin-top: 25px;
}

.wrapper {
	width: 200px;
	height: 200px;
	border-radius:100%; 
	/*overflow:hidden*/
}

.toggler {
  width: 1500px;
  height: 960px;
  margin: 0 auto;
}

.toggler li {
	display: inline-block;
	list-style-type: none;
	vertical-align: top;
	margin-right: 25px;
	margin-top: 25px;
}

.effect {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 200px;
  height: 600px;
  border: 1px solid #000;
  background: #ccc;
  display: none;
}
.effect h3 {
  margin: 0;
  padding: 0.4em;
  text-align: center;
}
.effect p {
	text-align: left;
	font-family: Tahoma, Arial, Helvetica, "Microsoft YaHei New", "Microsoft Yahei", "微软雅黑", 宋体, SimSun, STXihei, "华文细黑", sans-serif;
	font-size: 15px;
	margin-left: 10px;
	margin-right: 5px;
}

/* Hotel Section */

