
/* Food Section */
.food {
	width: 100%;
	height: 550px;
	margin: 0, auto;
	margin-top: 25px;
	background: url('top_food.png') no-repeat;
	background-color: #0e83cd;
}

.mh-menu {
	width: 1000px;
	height:555px;
	margin: 10px auto;
	position: relative;
}

.mh-menu li {
	width: 300px;
	list-style: none;
	margin-left: -30px;
}

.mh-menu li a {
	display: block;
	padding: 5px 10px;
	text-align: right;
	text-decoration: none;
	position: relative;
	z-index: 10;
	height: 55px;
	background: rgba(255, 255, 255, 0.8);
}

.mh-menu li:hover a {
	background: rgba(225,239,240, 0.4);
}

.mh-menu li a span {
	display: block;
	font-family: Tahoma, Arial, Helvetica, "Microsoft YaHei New", "Microsoft Yahei", "微软雅黑", 宋体, SimSun, STXihei, "华文细黑", sans-serif;
	font-weight: bold;
	font-style: italic;
	font-size: 28px;
	color: #080808 ;
	padding-top: 10px;
}

.mh-menu li:nth-child(1):hover span{
	color: #ae3637;
}
.mh-menu li:nth-child(2):hover span{
	color: #c3d243;
}
.mh-menu li:nth-child(3):hover span{
	color: #d38439;
}
.mh-menu li:nth-child(4):hover span{
	color: #8e7463;}
.mh-menu li:nth-child(5):hover span{
	color: #8e7463;
}
.mh-menu li:nth-child(6):hover span{
	color: #8e7463;
}
.mh-menu li:nth-child(7):hover span{
	color: #8e7463;
}
.mh-menu li:nth-child(8):hover span{
	color: #8e7463;
}
.mh-menu li:nth-child(9):hover span{
	color: #8e7463;
}
.mh-menu li:nth-child(10):hover span{
	color: #8e7463;
}

.mh-menu li div{
	position: absolute;
	z-index: 1;
	left: 0px;
	top: 0px;
	opacity: 0;
	-webkit-transition: left 0.4s ease-in-out, opacity 0.6s ease-in-out;
	-moz-transition: left 0.4s ease-in-out, opacity 0.6s ease-in-out;
	-o-transition: left 0.4s ease-in-out, opacity 0.6s ease-in-out;
	-ms-transition: left 0.4s ease-in-out, opacity 0.6s ease-in-out;
	transition: left 0.4s ease-in-out, opacity 0.6s ease-in-out;
}
.mh-menu li:hover div{
	left: 300px;
	opacity: 1;
}

.caption {
	display: inline-block;
	position: relative;
	margin: 10px;
}

.caption img {
	display: block;
	max-width: 100%;
}

.caption::before,
.caption::after {
    position: absolute;
    left: 100%;
    width: 90%;
    margin: 0 0 0 10%;
    font-weight: 300;
    color: #89867e;
}

.caption::before {
    content: attr(data-title);
    top: 0;
    height: 25%;
    padding: 5px 30px 15px 10px;
    font-size: 40px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.caption::after {
    content: attr(data-description);
    top: 25%;
    padding: 20px 10px 0;
    font-family: Tahoma, Arial, Helvetica, "Microsoft YaHei New", "Microsoft Yahei", "微软雅黑", 宋体, SimSun, STXihei, "华文细黑", sans-serif;
	font-size: 15px;
}
/* Hotel Section */
.hotel {
	width: 100%;
	height: 500px;
	margin: 0, auto;
	background: url('hotel-title.png') no-repeat;
	background-color: #f06060;
}

.tt-wrapper {
	padding: 0;
	width: 1000px;
	height: 120px;
	margin: 0 auto 30px auto;
}

.tt-wrapper li {
	float: left;
	list-style: none;
	margin-top: 
}

.tt-wrapper li a {
	display: block;
	width: 110px;
	height: 120px;
	margin: 200px 2px;
	outline: none;
	background: transparent url('hotel.png') no-repeat top left;
	position: relative;
}

.tt-wrapper li .tt_one {
	background-position: 0px 0px;
}

.tt-wrapper li .tt_two {
	background-position: -110px 0px;
}

.tt-wrapper li .tt_three {
	background-position: -220px 0px;
}

.tt-wrapper li .tt_four {
	background-position: -330px 0px;
}

.tt-wrapper li .tt_five {
	background-position: -440px 0px;
}

.tt-wrapper li .tt_six {
	background-position: -555px 0px;
}

.tt-wrapper li .tt_seven {
	background-position: -666px 0px;
}

.tt-wrapper li .tt_eight {
	background-position: -777px 0px;
}

.tt-wrapper li a span {
	width: 160px;
	height: auto;
	line-height: 20px;
	padding: 10px;
	left: -15px;
	margin-left: -64px
	font-family: Tahoma, Arial, Helvetica, "Microsoft YaHei New", "Microsoft Yahei", "微软雅黑", 宋体, SimSun, STXihei, "华文细黑", sans-serif;
	font-size: 14px;
	color: #719DAB;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
	text-align: center;
	border: 4px solid #fff;
	background: rgba(255, 255, 255, 0.3);
	border-radius: 5px;
	position: absolute;
	pointer-events: none;
	bottom: 150px;
	opacity: 0;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

/* Entertainment */
.entertainment {
	width: 100%;
	height: 550px;
	margin: 0 auto;
	padding: 0 20px;
	background: url('entertainment-section.png') no-repeat;
	background-color: #fcd04b;
}

.enter-container {
	position: relative;
	width: 100%;
	max-width: 1280px;
	margin-top: 100px;
	margin-right: auto;
	margin-left: auto;
	padding: 0 0 50px 0;
}

.topbar {
	position: relative;
	padding: 20px 0;
	margin: 0 0 40px;
}

.back {
	width: 40px;
	height: 40px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -20px 0 0 -20px;
	border-radius: 50%;
	text-align: center;
	line-height: 38px;
	color: #999;
	background: #ddd;
	background: rgba(255,255,255,0.5);
	cursor: pointer;
	display: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.no-touch .back:hover {
	background: #fff;
	background: rgba(255,255,255,0.9);
}

.topbar h2,
.topbar h3 {
	display: inline-block;
	font-weight: 300;
	font-size: 40px;
	width: 49%;
	min-width: 320px;
}

.topbar h2 {
	padding-right: 20px;
	color: #666;
}

.topbar h3 {
	text-align: right;
	padding-left: 40px;
	color: #aaa;
}

/* Entertainment ---- Loader */

.loader {
	left: 50%;
	position: absolute;
	margin-left: -120px;
}

.loader i {
	display: inline-block;
	width: 40px;
	height: 40px;
	-webkit-animation: loading 1s linear infinite forwards;
	-moz-animation: loading 1s linear infinite forwards;
	-o-animation: loading 1s linear infinite forwards;
	-ms-animation: loading 1s linear infinite forwards;
	animation: loading 1s linear infinite forwards;
}

.cssanimations .loader span {
	display: none;
}

.no-cssanimations .loader i {
	display: none;
}

.loader i:nth-child(2){
	-webkit-animation-delay: 0.1s;
	-moz-animation-delay: 0.1s;
	-o-animation-delay: 0.1s;
	-ms-animation-delay: 0.1s;
	animation-delay: 0.1s;
}

.loader i:nth-child(3){
	-webkit-animation-delay: 0.2s;
	-moz-animation-delay: 0.2s;
	-o-animation-delay: 0.2s;
	-ms-animation-delay: 0.2s;
	animation-delay: 0.2s;
}

.loader i:nth-child(4){
	-webkit-animation-delay: 0.3s;
	-moz-animation-delay: 0.3s;
	-o-animation-delay: 0.3s;
	-ms-animation-delay: 0.3s;
	animation-delay: 0.3s;
}

.loader i:nth-child(5){
	-webkit-animation-delay: 0.4s;
	-moz-animation-delay: 0.4s;
	-o-animation-delay: 0.4s;
	-ms-animation-delay: 0.4s;
	animation-delay: 0.4s;
}

.loader i:nth-child(6){
	-webkit-animation-delay: 0.5s;
	-moz-animation-delay: 0.5s;
	-o-animation-delay: 0.5s;
	-ms-animation-delay: 0.5s;
	animation-delay: 0.5s;
}

@-webkit-keyframes loading{
	0%{
		opacity: 0;
		background-color: rgba(255,255,255,0.9);
	}

	100%{
		opacity: 1;
		-webkit-transform: scale(0.25) rotate(75deg);
		background-color: rgba(155,155,155,0.9);
	}
}

@-moz-keyframes loading{
	0%{
		opacity: 0;
		background-color: rgba(255,255,255,0.9);
	}

	100%{
		opacity: 1;
		-moz-transform: scale(0.25) rotate(75deg);
		background-color: rgba(155,155,155,0.9);
	}
}

@-o-keyframes loading{
	0%{
		opacity: 0;
		background-color: rgba(255,255,255,0.9);
	}

	100%{
		opacity: 1;
		-o-transform: scale(0.25) rotate(75deg);
		background-color: rgba(155,155,155,0.9);
	}
}

@-ms-keyframes loading{
	0%{
		opacity: 0;
		background-color: rgba(255,255,255,0.9);
	}

	100%{
		opacity: 1;
		-ms-transform: scale(0.25) rotate(75deg);
		background-color: rgba(155,155,155,0.9);
	}
}

@keyframes loading{
	0%{
		opacity: 0;
		background-color: rgba(255,255,255,0.9);
	}

	100%{
		opacity: 1;
		transform: scale(0.25) rotate(75deg);
		background-color: rgba(155,155,155,0.9);
	}
}

@media screen and (max-width: 680px){
	.topbar h2, .topbar h3 { text-align: left; padding: 0; display: block;}
	.back { left: auto; right: 0px; margin-left: 0px;}
}