 Global Elements */
.container {
	margin:0 auto;
	position:relative;
	width:94%;
}

* {
	color:#3c515f;
	font-family: ProximaNova, 'Open Sans', Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	-webkit-font-smoothing: antialiased;
}

@media screen and (min-width:960px) {
	.container {
		width:960px;
	}
} /* screen and (min-width:960px) */

/* Page-slides */
.page-slides {
	position: relative; 
	width: auto; 
	height: 800px; 
	background-color: #E0E0E0 ;
}

.page-slides img {
	width: 1400px;
	height: 800px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* Footer */
#footer {
	background: #f7f6f6;
}

#footer .inner {
	background: #383a3f;
	border-bottom: 1px solid #1e1e1e;
	border-top: 1px solid #1e1e1e;
	padding:20px 0;
	width: 100%
}

@media screen and (min-width: 1400px) {
	#footer .inner {
		min-width: 1400px;
		width: 100%;
	}
}

#footer .column {
	display: inline-block;
	*display: inline;
	zoom: 1;
	vertical-align: top;
	width: 310px;
	text-decoration: none;
}

#footer .column h3 {
	font: 500 16px 'ProximaNovaSemibold','Open Sans','Arial',sans-serif;
	text-transform: uppercase;
	color: #929292;
	margin: 20px 0 10px 0;
}

#footer .column p strong {
  margin:0 0 8px 0;
  font:400 14px/20px 'ProximaNova','Open Sans','Arial',sans-serif;
  color:#888;
  font-weight:bold;
  display:inline-block;
  line-height:16px;
}

#footer .column p {
	margin:0 0 8px 0;
  font:400 14px/20px 'ProximaNova','Open Sans','Arial',sans-serif;
  color:#888;
}

#footer .column p a {
	color: #cacaca;
	text-decoration: none;
	font: 600 14px 'ProximaNova','Open Sans','Arial',sans-serif;
}

#footer .column p a:hover,
#footer ul li a:hover {
  color:#eee;
}

#footer .column p a.location {
	padding: 3px 20px 3px 0;
	background: url('map_marker_16x16.png') right 1px no-repeat;
}

#footer .social {
	width: 200px;
	margin: 0 36px 0 0;
}

#footer .social a {
	text-decoration: none;
}

.social-media-icons-round-footer .social-icon-round-footer {
  height:37px; width:36px;
  background-position:center;
  background-repeat: no-repeat;
  display:inline-block;
  *display:inline;
  zoom:1;
  margin:0 3px 0 0;
}

.social-media-icons-round-footer .weibo {
  background-image:url('weibo_32x32.png'); 
}
.social-media-icons-round-footer .wechat {
  background-image:url('wechat_32x32.png'); 
}
.social-media-icons-round-footer .facebook {
  background-image:url('facebook_32x32.png'); 
}
.social-media-icons-round a {
  background-size: 32px;
  height:32px;
  width:32px;
  display:inline-block;
  margin:10px 5px 0 5px;
}

#footer .sitemap {
	display: inline-block;
	*display: inline;
	width: 200px;
}

#footer .find {
	width: 200px;
}

#footer .subscriber {
	width: 200px;
	display: inline-block;
	*display: inline;
}

.subscribeButton {
  background-color: #0099FF;
  border-radius: 4px;
  border-style: none;
  width: 148px;
  height: 30px;
  color: white;
  font: 500 16px 'ProximaNova','Open Sans','Arial',sans-serif;
  text-align: center;
  margin-top: 10px;
}
.subscribeButton:hover {
	background-color: #00CCFF;
}

.subscribeInputField {
	height: 30px;
	border-style: none;
}   

.page {
	width: 100%;
	min-width: 960px;
	padding-bottom: 80px;
	background-color: #f7f6f6;
}

.page-divider {
	height: 19px;
	background-color: #eBeaed;
	width: 100%;
}

h2.page-blurb {
	padding: 35px 0 35px 0;
	font:400 26px 'ProximaNova','Open Sans',sans-serif;
  color:#374a58;
}

/* Blue Line Divider */
hr.line-divider {
	height: 0;
	width: 100px;
	min-width: 960px;
	border-top: 1px solid #66CCFF;
}

#columns {
	width:960px;
	min-width:960px;
	margin:20px auto 0 auto;
	height: auto;
}

.column {
	display:inline-block;
	*display:inline;
	zoom:1;
	position:relative;
	vertical-align:top;
	width: 270px;
	text-decoration: none;
}
.column h3 {
	font:500 24px 'ProximaNovaSemibold','Open Sans','Arial',sans-serif;
	color:#3c515f;
	margin:20px 0;
}

.what-we-have {
	margin: 0 40px 0 0;
}

.column a.anchored {
	font:400 14px 'Georgia',serif;
	font-style:italic;
	margin:20px 0 0 0;
	color:#0099FF;
	text-align:left;
	padding:0;
	text-shadow:none;
	border:0; border-radius:0; background:none;
}

.column a.anchored:hover {
	color:#00CCFF;
	text-decoration: none;
}

.local-weather {
	margin: 0 40px 0 0;
}

.local-weather a {
	font:400 14px 'Georgia',serif;
	font-style:italic;
	color:#0099FF;
	text-decoration: none;
}

.local-weather a:hover {
	color:#00CCFF;
	text-decoration: none;
}

.weibo-feeds {

}

.weibo-feeds ul {
	list-style: none;
	padding-left: 0;
}

.weibo-feeds ul li {
	margin:10px 0 0 0;
	padding:10px 0 8px 0;
	font-size:14px;
	border-top:1px solid #dbdee1;
}

.weibo-feeds span {
	display: block;
	font-size: 15px;
}

.weibo-feeds div.anchored {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
}

.weibo-feeds .anchored a {
	display:inline-block;
	*display:inline;
	zoom:1;
	height:32px; width:32px;
	background-image:url('weibo_32x32.png');
	margin:17px 12px 0 0;
}

.weibo-feeds .anchored a.weibo {
	background-position:0 -33px;
}